<div class="container">
<div class="row text center">
  <br>
  <%= form_for(@counttime, remote: true) do |f| %>
          <%= f.label :sec %><br>
          <%= f.text_area :sec, class: "form-control",id:"showtimer"%>
          <%= submit_tag "Record", class:"btn btn-pramary" %>
  <% end %>
 </div>
  <div class="row text center" id="container_counttimes">
    <%= render @counttimes %>
  </div>
</div>
